{% extends 'base_layout.html' %} {% block content %}
<div class="post-container">
  <div class="header">
    <div>
      <div class="title">{{ post.title }}</div>
      <div class="info">{{post.date_added}} by {{post.author}}</div>
    </div>

    {% if user == post.author %}
    <div class="buttons">
      <a class="button primary" href="{% url 'app:post_edit' post.pk %}">
        <ion-icon name="create-outline"></ion-icon>
      </a>
      <a class="button danger" href="{% url 'app:post_delete' post.pk %}">
        <ion-icon name="trash-outline"></ion-icon>
      </a>
    </div>
    {% endif %}
  </div>

  <div class="image">
    <img src="{{ post.image.url }}" alt="" />
  </div>
  <div class="post-body">{{ post.body }}</div>
  <hr />
  <div class="post-buttons">
    <a
      href="{% url 'app:post_like' post.pk %}"
      class="post-button {% if user in post.likes.all %} primary {% endif %}"
    >
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <span> {{ post.likes.count }}</span>
    </a>
    <a
      href="{% url 'app:post_dislike' post.pk %}"
      class="post-button {% if user in post.dislikes.all %} danger {% endif %}"
    >
      <ion-icon name="thumbs-down-outline"></ion-icon>
      <span> {{ post.dislikes.count }}</span>
    </a>
  </div>
  <hr />
  <div class="comments">
    {% if post.comment_set.all %}
    <div class="title">Комментарии: {{ post.comment_set.count }}</div>
    {% else %}
    <div class="title">Пока нет комментариев</div>
    {% endif %}

    <form method="post" class="comment-form">
      {% csrf_token %} {% for field in form %} {{field}} {% endfor %}
    </form>

    <div class="comments-container">
      {% for comment in comments %}
      <div class="comment">
        <div class="comment-head">
          <div class="comment-author">
            <div class="avatar">
              <img
                src="https://static-00.iconduck.com/assets.00/avatar-default-icon-2048x2048-h6w375ur.png"
                alt=""
              />
            </div>
            <div class="author-data">
              <div class="author-name">{{ comment.author }}</div>
              <div class="date">{{ comment.date_added }}</div>
            </div>
          </div>
        </div>
        <div class="comment-body">
          <div>{{ comment.body }}</div>
          <div class="is-edited">
            {% if comment.is_edited %}
            <span>Изменено</span>
            {% endif %}
          </div>
        </div>
        <div class="comment-footer">
          <div class="buttons">
            <a
              href="{% url 'app:comment_like' comment.pk %}"
              class="btn {% if user in comment.likes.all %} primary {% endif %}"
            >
              <ion-icon name="thumbs-up-outline"></ion-icon>
              {{comment.likes.count}}
            </a>
            <a
              href="{% url 'app:comment_dislike' comment.pk %}"
              class="btn {% if user in comment.dislikes.all %} danger {% endif %}"
            >
              <ion-icon name="thumbs-down-outline"></ion-icon>
              {{comment.likes.count}}
            </a>
          </div>
          <div class="comment-control">
            {% if user == comment.author or user.is_superuser %}
            <a
              class="btn primary"
              href="{% url 'app:comment_edit' comment.pk %}"
            >
              <ion-icon name="create"></ion-icon>
            </a>
            <a
              class="btn danger"
              href="{% url 'app:comment_delete' comment.pk %}"
            >
              <ion-icon name="trash"></ion-icon>
            </a>
            {% endif %}
            <a class="btn">
              <ion-icon name="arrow-undo"></ion-icon>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if comments.has_other_pages %}
  <div class="pagination-buttons">
    <div class="previous">
      {% if comments.has_previous %}
      <a href="{%  url 'app:post_detail' post.pk %}?page=1" class="button"
        >В начало</a
      >
      <a
        href="{% url 'app:post_detail' post.pk %}?page={{comments.previous_page_number}}"
        class="button"
        >Назад</a
      >
      {% endif %}
    </div>
    <div class="page-number">{{comments.number}}</div>
    <div class="next">
      {% if comments.has_next %}
      <a
        href="{% url 'app:post_detail' post.pk %}?page={{comments.next_page_number}}"
        class="button"
        >Далее</a
      >
      <a
        href="{%  url 'app:post_detail' post.pk %}?page={{comments.paginator.num_pages}}"
        class="button"
      >
        В конец
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
