{% extends 'base_layout.html' %} {% block content %}
<div class="post-container">
  <div class="header">
    <div>
      <div class="title">{{ post.title }}</div>
      <div class="info">{{post.date_added}} by {{post.author}}</div>
    </div>

    <div class="buttons">
      <a class="button primary" href="">
        <ion-icon name="create-outline"></ion-icon>
      </a>
      <a class="button danger" href="{% url 'app:post_delete' post.pk %}">
        <ion-icon name="trash-outline"></ion-icon>
      </a>
    </div>
  </div>

  <div class="image">
    <img src="{{ post.image.url }}" alt="" />
  </div>
  <div class="post-body">{{ post.body }}</div>
</div>
{% endblock %}
